/*============================*/
//====== VARIABLES ==========
/*============================*/
$body-color: #dbf7f6;
$header-bg: #232f3e;
$black: #000;
$white: #fff;
$blue: #1961A6;
$dblue: #15508A;
$dpurple: #362858;
$cyan: #48bcba;
$yellow: #ecdf7a;
$grey: #ddd;